
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.body {
    position: relative;
    font-size: 62.5%;
    overflow: auto;
    @include e('overflow') {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

p {
    font-size: 1rem; //14px
}

h1 {
    font-size: 4.42857143rem; //62px
}

h2 {
    font-size: 3rem; //42px
}

h3 {
    
    font-size: 2.28571429rem; //32px
}

h4 {
    font-size: 1.85714286rem; //26px
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

img {
    height: auto;
    max-width: 100%;
}

.vline {
    width: 2px;
    height: 100px;
    background-color: $vertical-line;
    margin: 0 auto;
}